// Normally inner pages styles
.tour
	display: block
	position: relative
	&:before
		content: ""
		position: absolute
		top: -2px
		left: -2px
		right: -2px
		bottom: -2px
	.tour__in
		+g(#fef8e8, #fcf4d8)
		+clr
	.tour__pic
		float: left
		position: relative
		width: 240px
		height: 160px
		&:before
			content: ""
			position: absolute
			top: 2px
			left: -3px
			bottom: 2px
			width: 6px
			background: url(../img/tour-circles.png) 
	.tour__data
		float: left
		width: 390px  
	






























































































































































































































































































































































































