// default layout
.l-center, .l-layout
	position: relative
	max-width: 960px
	margin: 0 auto
	+clr
	+rt(1020)
		max-width: 708px
		padding: 0 20px
	+rt(764)
		max-width: 300px
		padding: 0
.l-center
	&.l-center_small
		max-width: 640px
.l-layout
	&.l-layout_margin
		margin-bottom: 40px
		
.l-aside
	float: left
	width: 300px
	+rt(1020)
		display: none
	
.l-section
	float: right
	width: 630px 
	+rt(1020)
		float: none
		width: 100%

