// Normally mainpage styles
.map
	position: relative
	height: 543px
	&:after, &:before
		content: ""
		position: absolute
		left: 0
		right: 0
		height: 20px
		border-radius: 50%
		box-shadow: 0 0 10px #7a97b6
		z-index: 2 
	&:after
		bottom: 0
	&:before
		top: 0
	.map__el
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 4 
	.l-center
		position: relative
		padding-top: 40px
		z-index: 6 

.search
	float: left
	width: 260px 
	padding: 12px 20px 20px
	border-radius: 8px
	background-color: #3155a3
	box-shadow: 0 1px 2px rgba(2,26,75,.5)
	+g(#4274c3, #203883)
	.search__item
		margin-bottom: 15px
	.search__label
		margin-bottom: 10px
		color: #8DA9E3 
	.search__fieldset
		+clr
		.search__field
			float: left
			width: 120px
			&:first-child
				margin-right: 20px
	.search__el
		input
			padding: 0 10px
			height: 37px
			border-radius: 3px
			background-color: #fff
			box-shadow: inset 0 1px 2px rgba(49,86,163,.35)
			&.is-open
				border-radius: 3px 3px 0 0
	.search__el_plain, .search__el_date
		position: relative
		i
			position: absolute
			right: 10px
	.search__el_plain
		input
			padding: 0 40px 0 10px
		i
			top: 9px
			+s(search-plain)
	.search__people
		padding-bottom: 10px
		+clr
		.search__label
			margin-bottom: 5px
			span
				font-weight: 700 
				color: #FFF 
	.search__adults, .search__kids, .search__babies
		float: left
	.search__adults-list, .search__kids-list, .search__babies-list
		display: table-cell
		height: 34px
		vertical-align: bottom
		font-size: 0
		//&:hover
		//	img[src^="img/adult-h.png"],
		//	img[src^="img/kid-h.png"],
		//	img[src^="img/baby-h.png"]
		//		opacity: .25 
		img
			margin-left: 2px
			//+tr(opacity .2s linear)
			&:first-child
				margin: 0
	.search__babies-list
		img
			margin: 0
	.search__adults, .search__babies
		width: 90px
	.search__kids
		width: 80px
	.serach__btn
		margin-bottom: 20px
		text-align: center
	.seach__link
		text-align: center
		a
			color: #8DA9E3 
	.search__add
		padding-top: 2px
		color: #8DA9E3 
		a
			text-decoration: none
			color: #8DA9E3 
		span
			margin-left: 5px
			border-bottom: 1px dotted 
	.checkbox
		margin-top: 5px
		color: #8DA9E3 
	.select
		position: relative
		&.is-open
			.select__head
				border-radius: 3px 3px 0 0
	.select__head
		position: relative
		padding: 0 25px 0 10px
		border-radius: 3px
		background-color: #fff
		box-shadow: inset 0 1px 2px rgba(49,86,163,.35)
		cursor: pointer
	.select__current
		height: 37px
		color: #363636 
		line-height: 37px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	.select__arr
		position: absolute
		top: 17px
		right: 9px
		+arr(8,5,#98aad1,b)
	.select__ico-date
		position: absolute
		right: 9px
		top: 14px
		+s(date)
		&:before
			content: ""
			display: block
			opacity: 0
			+tr(opacity .2s linear) 
			+s(date-a)
	.select__list
		display: none
		position: absolute
		top: 37px
		left: 0
		right: 0
		padding: 5px 0 
		border-radius: 0 0 3px 3px
		background-color: #fff
		box-shadow: 0 5px 7px rgba(0,0,0,.3), inset 0 1px 2px rgba(49,86,163,.35)
		z-index: 10 
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 120px
			height: 5px
			background: #FFF  
			z-index: 2 
		li
			position: relative
			padding: 10px 
			cursor: pointer 
			+tr(background .2s linear)
			z-index: 4
			&:hover
				background: #FBDAD2 
	.select__date
		display: none
		position: absolute
		top: 37px
		left: 0
		width: 220px
		border-radius: 0 3px 3px 3px
		background-color: #fff
		box-shadow: 0 5px 7px rgba(0,0,0,.3), inset 0 1px 2px rgba(49,86,163,.35)
		z-index: 10 
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 120px
			height: 5px
			background: #FFF  
			z-index: 2 
		.ui-datepicker-inline
			position: relative
			padding: 3px
			z-index: 4 
		.ui-datepicker-header
			position: relative
			margin-bottom: 5px
		.ui-datepicker-title
			padding: 4px 0
			text-align: center
			font-size: 14px
		.ui-datepicker-prev, .ui-datepicker-next
			position: absolute
			top: 50%
			margin-top: -5px
			opacity: .7
			+tr(opacity .2s linear)
			cursor: pointer
			&:hover
				opacity: 1 
			&.ui-state-disabled
				opacity: 0 
		.ui-datepicker-prev
			left: 10px
			.ui-icon
				+s(dp-prev)
		.ui-datepicker-next
			right: 10px
			.ui-icon
				+s(dp-next)
		.ui-icon
			display: block
			font-size: 0
		.ui-datepicker-calendar
			text-align: center
		.ui-state-default
			display: inline-block
			width: 26px
			height: 26px
			line-height: 26px
			text-align: center
			border-radius: 50%
			color: #363636
			text-decoration: none
			+tr(all .2s linear)
		span.ui-state-default
			color: #999 
		a.ui-state-default
			&.ui-state-active, &:hover
				background: #f5a18e
				//color: #fff  
			

.pop
	padding: 60px